@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');




.fondo{
    -fx-background-color: #0e1538;
    
}


.boton {
    -fx-background-color:  #8de3fa;
    -fx-border-color: #ffff;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-fill: #ffff;
    -fx-font-family: 'Caveat', cursive;
    -fx-font-size: 20px;    
    
}

.boton:hover{
    -fx-background-color: #ffff;
    -fx-border-color: #0e1538;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-fill: #0e1538;
    -fx-font-family: 'Caveat', cursive;
    -fx-font-size: 20px;
    
}

.boton:pressed{
    -fx-background-color: #5a6f7f;
    -fx-border-color: #5a6f7f;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-fill: #47c26d;
    -fx-font-family: 'Caveat', cursive;
    -fx-font-size: 20px;
}

.tabla .column-header .label{
    -fx-text-fill: #47c26d;
    
}

.tabla{
    -fx-background-color: #5a6f7f;
    -fx-border-color: #ffff;
}
.tabla .column-header{
    -fx-background-color: #5a6f7f;
}
.but{
    -fx-background-color:  #0477ca;
    -fx-border-color: #3fc18d;
    -fx-border-width: 4px;
}

.texto{
    -fx-text-fill: #ffff;
    -fx-font-family: 'Caveat', cursive;
    -fx-font-size: 20px;
}

.titulo{
    -fx-text-fill: #ffff;
    -fx-font-family: 'Satisfy', cursive;
    -fx-font-size: 40px;
    
}

.campo{
    -fx-background-color: #8fa1f6;
}



